<!-- This is where author Image, Name, about and follow button falls -->


<p style="color:black"><h4>About the author</h4></p>
<img src={{ author_data.display_picture}} style="border-radius: 50%; height:80px; width:80px"><b>@{{ author_data.username }}</b>

<button class="btn btn-sm follow-btn" id="follow-btn" value={{author_data._id}}>follow</button>
