<!-- This is where author Image, Name, about and follow button falls -->


<p style="color:black"><h4>About the author</h4></p>
<p><img src={{ author_data.display_picture}} style="border-radius: 50%; height:150px; width:150px">{{ author_data.username }}
{{ author_data.email }}
<button class="btn btn-basic follow-btn" id="follow-btn" value={{author_data._id}}>follow</button>
</p>
