<!-- This is where author Image, Name, about and follow button falls -->
<style>
  
</style>

<p style="color:black">This is all about the author</p>
<p><img src={{ author_data.display_picture}}>{{ author_data.username }}
{{ author_data.email }}
<button class="follow-btn" id="follow-btn" value={{author_data._id}}>follow</button>
</p>
