<!--This is where all other interesting blogs from other authors show up -->


<p style="color:black"><h3>More on Inwritten</h3>
<i>These might also interest you</i></p>
<button  id="interest-category" value={{data.category}} hidden >follow</button>
<p class="random-interests">


</p>