.template-container{
    width:80%;



    .template-image{
        //width:inherit;
        border-radius:5px;
        width: 90%;
        box-shadow:2px 1px 17px 2px rgba(82, 82, 82, 0.4);
        //margin-bottom:10px;
        height:400px;
      


        

    }

    .template-cover{
        width:70%;
        //border-radius:5px;
        text-align: center;
        min-height:250px;
        background: rgba(0,0, 0, 0.7);
        top:0px;
        margin:5px 0px;
        position: absolute;
        color:white;
        padding:7% 10%;
        position: relative;
    }


}