<!-- This is where author Image, Name, about and follow button falls -->


<p style="color:black"><h5>About the author</h5></p>
<img src={{ author_data.display_picture}} class="mr-3 mb-2" style="border-radius: 50%; height:60px; width:60px"><span style="font-size: 16px;"> {{ author_data.username }}</span>
<button class="btn btn-sm btn-outline-success" id="follow-btn" value={{author_data._id}} >follow</button>
<p><i>{{ author_data.bio}} </i></p>
