


<div class="container">
<div class="ui threaded comments"  style="width:100%; color:white !important;">

<h5 class="ui dividing header">Responses</h5>
<div class="comment-space" id={{ data._id }}>
<button id='load_comments' class="btn btn-sm btn-light" style="color:rgb(31, 30, 30); margin-bottom:10px;">load comments</button>
</div>


</div>

</div>



<div class="container">

 <form class="ui reply form" id="formSubmit" method="POST" action="/comment/create" >
    <div class="field">
      <input name="post_id" id="post_id" hidden value={{data._id}} />
      <input name="commenter_id" id="commenter_id" hidden />
        <input name="author_id" id="author_id" hidden value={{author_data._id}} />
   
      
      <div id="textarea">
      <textarea style="width:99%;min-height:300px" name="comment" id='comment' required minlength="10" placeholder="Express your opinion"></textarea><br />
         <button class="btn btn-sm btn-dark" style="padding:5px 10px" type='submit'>Submit</button>

      </div>
    </div>
  </form>
</div>







