<!--This is where all other interesting blogs from other authors show up -->


<p style="color:black; font-size:16px"><h5>You may like these</h5>
<button id="interest-category" value={{data.category}} hidden >follow</button>
<p class="random-interests card-deck">

<!-- JS injects random interests here //interests.js-->

</p>