<!--This is where all other interesting blogs from other authors show up -->


<p style="color:black"><h4>More on Inwritten</h4>
<button  id="interest-category" value={{data.category}} hidden >follow</button>
<p class="random-interests card-deck">

<!-- JS injects random interests here //interests.js-->

</p>